@model RelexBarDLL.ChatMessage
<div class="col-md-10 col-md-offset-2 form-group editItem">
    @*<div class="form-inline">
        <div class="col-md-3">项目：</div>@Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
    </div>*@
    <div class="form-inline">@Html.HiddenFor(m => m.MID)
        <div class="col-md-3">描述：</div>@*@Html.TextBoxFor(m => m.Content, new { @class = "form-control" })*@
        <textarea class="form-control" name="Content" id="Content" style="height:200px">@Model.Content</textarea>
    </div>
    
    @*<div class="">
        <div class="col-md-3">图片：</div>@Html.HiddenFor(m => m.Img)@Html.HiddenFor(m => m.ID)
        <input type="file" id="upload" style="display:none" onchange="ImgUpload(this)" />
        <img id="headimage" onclick="$('#upload').click()" src="@(string.IsNullOrEmpty(Model.Img)?"/img/chat/head.jpg":Model.Img)" width="86" />
        <br />
    </div>
    <div class="form-inline">
        <div class="col-md-3">标题：</div>@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>*@
   @*@if (Model!= null&&Model.Status==0)
   {
    <div class="form-inline">
        <div class="col-md-3">显示：</div>@Html.DropDownListFor(m => m.IsShow, new List<SelectListItem>() { new SelectListItem() { Text = "禁用", Value = "0" }, new SelectListItem() { Text = "可用", Value = "1" } }, new { @class = "form-control" })
    </div>
    <div class="form-inline">
        <div class="col-md-3">状态：</div>@Html.DropDownListFor(m => m.Status, new List<SelectListItem>() { new SelectListItem() { Text = "禁用", Value = "0" }, new SelectListItem() { Text = "可用", Value = "1" } }, new { @class = "form-control" })
    </div>
   }*@
   
    @*<div class="form-inline">
            <div class="col-md-3">筹码：</div>@Html.TextBoxFor(m => m.Chip, new { @class = "form-control" })
        </div>*@
   
    @if (Model != null && Model.CreateTime != null)
    {
        <div class="form-inline">
            <div class="col-md-3">创建时间：</div>@Html.TextBox("CreateTime", Model.CreateTime.Value.ToString("yyyy-MM-dd HH:mm"), new { @class = "form-control", @readonly = "true" })
        </div>
    }

    @*<div class="form-inline">
            <div class="col-md-2">状态：</div>@Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
        </div>*@
</div>