
@model List<RelexBarDLL.InfomationType>
@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        <td>@Model[i].Name</td>
        <td title="@Model[i].Desr">@(RelexBarBLL.Common.StringTruncat(Model[i].Desr, 30))</td>
        <td>@Model[i].CreateTime</td>
        <td>
            <input type="button" class="btn btn-danger" value="@((Model[i].Status==1)?"启用":"禁用")" onclick="CITypeStatus('@Model[i].ITID',this)" />
        </td>
        <td>
             @*<span class="btn-link" onclick="CITypeStatus('@Model[i].ITID')"><i class="glyphicon glyphicon-edit"></i>编辑</span>*@
            <span class="btn-link" onclick="EditType('@Model[i].ITID')"><i class="glyphicon glyphicon-edit"></i>编辑</span>
        </td>
        </tr>
}
<script>createFooter(@ViewData["sum"])</script>
